h4 {
    text-align: center;
}

.grid-container p {
    padding: 0 1rem;
    font-weight: 400;
}

.grid-container {
    display: grid;
    padding: 10rem 1rem;
    justify-content: center;
    grid-template-columns: repeat(3, 20rem);
    row-gap: 2rem;
    column-gap: 2rem;
    color: black;
  }
  
  .grid-card {
    background-color: rgba(255, 255, 255, 0.5);
    height: 17rem;
    width: 18rem;
    border-radius: 2rem;
    z-index: 100;
    backdrop-filter: blur(7px);
  }
  
  @supports not ((-webkit-backdrop-filter: blur(7px)) or (backdrop-filter: blur(7px))) {
    .grid-card {
      background-color: rgba(255, 255, 255, .8);
    }
  }

  @media screen and (max-width: 732px) {
    .grid-container {
      grid-template-columns: repeat(1, auto);
    }
  }