#reviews {
    margin: auto;
    padding: 0 2rem 3rem 2rem;
    width: 80%;
    height: max-content;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
  }
  
  #reviews h3 {
    padding: 2rem;
    text-align: center;
  }

  .reviews-container {
    display: grid;
    grid-template-rows: repeat(2, 18rem);
    row-gap: 2rem;
    column-gap: 2rem;
    grid-auto-flow: column;
    padding: 0 1rem;
    overflow-x: auto;
  }

  #reviews-card {
    background-color: rgba(255, 255, 255, 0.7);
    height: 17rem;
    width: 18rem;
    padding: 0 1rem 1rem 1rem;
    overflow-y: hidden;
    box-sizing: border-box;
    border-radius: 2rem;
    z-index: 100;
    box-shadow: 10px 10px 8px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);
    color: #000;
  }

  #reviews h3 {
      color: palegreen;
  }

  #reviews h4 {
      margin: 1rem 0;
  }

  #reviews-card h6 {
      font-weight: 600;
      margin: 0 0;
      text-align: center;
  }
  