.App {
  min-height: 100vh;
  background-image: url("./assets/bgLandingPage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

h1 {
  font-weight: 600;
  position: absolute;
  left: 20%;
  top: 30%;
}

.shufflingText {
  font-weight: 500;
  font-family: sans-serif;
  color: palegreen;
}

