.App {
  min-height: 100vh;
  /* position: relative */
  background-image: url("./assets/bigLandingPage2copy.jpg");  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;;
  color: white;
}

button:hover {
  cursor: pointer;
}

#spanColor {
  color: palegreen;
}

/*
.App:before {
  content: "";
  background-image: url("./assets/bigLandingPage2.jpg");  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.8;
}
*/

h1 {
  font-weight: 600;
  position: relative;
  margin: 10rem 0 10rem 15rem;
}

.shufflingText {
  font-weight: 500;
  font-family: sans-serif;
  color: palegreen;
}

.flexInstitute, .flexCoordinator {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3rem;
}

.flexInstitute p, .flexCoordinator p {
  padding: 0;
}

#text {
  width: 50%;
}

section {
  background-color: rgba(255, 255, 255, 0.5);
  height: 30rem;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(7px);
}