.App {
  min-height: 100vh;
  /* position: relative */
  background-image: url("./assets/bigLandingPage2copy.jpg");  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;;
  color: white;
}

button:hover {
  cursor: pointer;
}

#span-color {
  color: palegreen;
}

/*
.App:before {
  content: "";
  background-image: url("./assets/bigLandingPage2.jpg");  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.8;
}
*/

button {
  font-weight: 600;
  font-family: monospace;
  border-radius: 2rem;
  height: 2rem;
  width: 9rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header button {
  height: 3rem;
  width: 10rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blue(7px);
  color: black;
}

header button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

header h1 {
  margin: 10rem 0 10rem 0;
  padding: 1rem 1rem;
  font-weight: 600;
  position: relative;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.5);
}

.marquee p {
  padding: 0 5rem;
}

.shuffling-text {
  font-weight: 500;
  font-family: sans-serif;
  color: palegreen;
}

.flex-institute {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3rem;
}

.flex-institute p {
  padding: 0;
}

#text {
  width: 40%;
}

#about {
  width: 60%;
  margin: auto;
  margin-bottom: 3rem; 
  align-content: center;
  padding: 1rem 1rem 2rem 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2rem;
  color: black;
  backdrop-filter: blur(7px);
}

#contact-form {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 40%;
}

#contact-form label, input {
  margin-bottom: 10px;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.submit-button {
  background-color: palegreen;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@supports not ((-webkit-backdrop-filter: blur(7px)) or (backdrop-filter: blur(7px))) {
  #about, header button {
    background-color: rgba(255, 255, 255, 0.8);
  }

  header button:hover {
    background-color: grey;
  }
}